/*
* @Author: frankseek
* @Date:   2017-08-15 13:59:08
* @Last Modified by:   frankseek
* @Last Modified time: 2017-08-15 16:51:59
*/
input{
	outline:none;
}
a{
	text-decoration: none;
	color: #fff;
}
input::-webkit-input-placeholder { /* WebKit browsers */  
    color:#c2c5cc;  
} 

.child_info li>input{
	width: 100%;
	height: 1rem;
	font-size: .4rem;
	background: #FFF;
}
.relation_select{
	height: 1rem;
}
.relation_select span{
	border: 1px solid #c2c5cc;
	height: 0.667rem;
	width: 1.333rem;
	line-height: 0.667rem;
}
.acknowledge{
	background: #f8f8f8;
	height: 6rem;
}
.acknowledge .mint-button{
	background: #9fd6fb;
	width: 9.387rem;
	margin: 0 auto;
	margin-top: 1rem;
}
.acknowledge a{
	color: #29a7fb;
}