/* @media only screen and (min-width: 320px){
    .dilog{
        width: 90%;
    }
} */

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
/*   margin-top: 60px; */
}
h1, h2 {
  font-weight: normal;
}
.active_border{
    border: 2px solid red;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  /* margin: 0 10px; */
}

a {
  color: rgb(143, 143, 143);
  text-decoration: none;
}
.icon{

  color: #fff;
}
.bg_zhezhao,
.bg_zhezhao_today_signin{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(146, 146, 146,.3);
    z-index: 4;
}
.dilog{
    position: relative;
}
.close_line{
    border-right: 1px solid #fff;
    position: absolute;
    top: -30px;
    right: 12px;
    height: 30px;
    width: 2px;
}
.close_dilog,
.close_today_signin{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #CCC;
    position: absolute;
    top: -54px;
    right: 0px;
}
.close_dilog .icon,
.close_today_signin .icon{
    width: 100%;
    height: 100%;
    line-height: 24px;
    text-align: center;
    z-index: 3;
}
.dilog .mint-button{
    width: 90%;
    background: #9fd6fb;
    color: #fff;
   margin: 0 auto;
}

.today_signin .today_signin_title img{
    width: 100%;
   height: 100%;
}
.today_signin .mint-button{
    background: #FFF;
    color: #29a7fb;
    margin-top: 25px;
    width: 4rem;
    border-color: #29a7fb;
    border: 1px solid #29a7fb;
}
.today_signin .mint-button.active{
    background: #29a7fb;
    color: #fff;
    margin-top: 25px;
    width: 4rem;
    border-color: #29a7fb;
}
.mint-button.active{
     background: #9fd6fb;
}

.dilog{
    width: 9.173rem;
    height: 10.267rem;
    z-index: 5;
    margin: 0 auto;
    margin-top: 3rem;
}
.dilog_title{
    width: 100%;
    height: 2.427rem;
    background:url('../images/title_bg.png') no-repeat;
    
    background-color: rgba(94, 181, 239,1);
}
.dilog_content .circle img{
    width: 1.387rem;
    height: 1.387rem;
}
.dilog_content{
    background: #fff;
}
.dilog_content .icon-sign-in{
    position: absolute;
    top: 32px;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0099ff;
    text-align: center; 
    line-height: 16px;
    z-index: 3;
    display: none;
}
.zhezhao_circle{
    background: #7592a7;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.387rem;
    opacity: .6;
    height: 1.387rem;
    border-radius: 50%;
    display: none;
}


.today_signin{
    width: 9.173rem;
    height: 10.32rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.today_signin_title{
    width: 100%;
    height: 3.867rem;
    background-color: #5eb5ef;
}
.today_signin_content{
    height: 232px;
}
.today_signin_content .icon.active{
    background: #29a7fb;
}
.today_signin_content .icon{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 24px;
    background: #e0e0e0;
    color: #FFF;
}



.swipe_top{
  position: relative;
}
.user_id img{
    width: 100%;
    height: 100%;
}
.swipe_top>.zhezhao{
    background: url("../images/zhezhao.png") no-repeat;
    
    width: 100%;
    height: 100%;
    left: 0;
    top: -132px;
    position: absolute;
}
.lubotu{
  height: 4.64rem;
  position: relative;
}
.swipeBg{
  height: 100%;
  background:url('../images/zhezhao.png') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2
}
mt-swipe-item,
mt-swipe-item>a{
  height: 100%;
  width: 100%;
}
.sign_in{
  width: 1.867rem;
  height: 25px;
  padding: 0px 10px;
  border-radius: 10px;
  line-height: 25px;
  position: absolute;
  top: 1.6em;
  left: .8em;
  background: rgb(253, 123, 82);
  z-index: 3;
}
.sign_in_01{
  color: #fff;
}
.search_user{
  width: 6em;
  position: absolute;
  top: 1.6em;
  right:.8em;
  z-index: 3;
}

.mint-swipe-indicator{
  background: #e1d3c1;
  width: .8em;
  height:.8em;
}
.mint-swipe-item a{
    display: block;
    width: 100%;
    height: 100%;
}
.mint-swipe-item a>img{
    width: 100%;
    height: 100%;
}
.mint-swipe-indicators{
    z-index: 3;
}
.mint-swipe-indicator.is-active{
  background: #0099ff;
}
.circle{
  width: 1.387rem;
  height: 1.387rem;
  border-radius: 50%;
  overflow: hidden;
}
.border_circle{
    border: 1px solid #ccc;
}
.circle>.icon-add{
    color: #ccc;
}
.circle>a,
.circle>a>img,{
  width: 100%;
  height: 100%;

}
.circle_01{
    background: rgb(242, 132, 135);
}
.circle_02{
    background: rgb(77, 207, 174);
}
.circle_03{
    background: rgb(240, 182, 84);
}
.circle_04{
    background: rgb(75, 192, 237);
}
.circle>.icon-add{

  text-align: center;
  line-height: 1.387rem;
}
#user{
    background-color: #f8f8f8;
}
#user>.mint-navbar{
    overflow: hidden;
}
#user>.mint-navbar>.mint-tab-item{
  padding: 1em 0;
  flex: 0;
  padding-right: 20px;
}

.mint-tab-container{
  height: 4.8rem;
}

.mint-tab-container>.mint-tab-container-wrap{
  width: 100%;
  height: 100%;
}

.student_name{
  font-weight: 700;
}
.school_read,
.online_select{
  width: 3.547rem;
  height: 2.133rem;
}
.school_read img,
.online_select img{
  width: 100%;
  height: 100%;
}
.school_read{
 /*  background: #71dd79; */
  margin-right: 1em;
}
.online_select{
/*   background: #4ca5df; */
}
.read_style{
    padding: 0.534rem 0;
}
.read_style>div>a{
  height: 100%;
  display: block;
}
.type_active .icon{
    display: block;
}
.parent_read_list .dblock{
    width: 100%;
}
.parent_read_list li{
    padding: 1em .8em;
    border-color: #ccc;
    overflow: hidden;
}
.parent_read_list .list_img>img{
    width: 2.667rem;
    height: 1.6rem;
}
.circle_title{
    color: #0a0b0d;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}