/*
* @Author: frankseek
* @Date:   2017-08-21 08:40:45
* @Last Modified by:   frankseek
* @Last Modified time: 2017-08-21 10:09:46
*/

.my_integral{
	width: 100%;
	height: 3.347rem;
	background: url('../images/integral_task_bg.png') no-repeat 0 0;
	background-size:100% 3.347rem;
}
.my_integral>.integral_num{
	width: 1.813rem;
	height: 1.813rem;
	background: #ffece0;
	border-radius: 50%;
	border: 2px solid #fc853a;
	line-height: 1.813rem;
	color: #f87725;
}
.task_num{
	color: #33abfb;
}
.mt-progress{
	height: .347rem;
	width: 5.867rem;
}
.mt-progress-runway,
.mt-progress-progress{
	height: 100% !important;
}
.mt-progress-progress{
	background: #42b2fd;
}
.mt-progress-runway{
	background: #ededed;
}
.integral_shumu{
	color: #fd7d68;
}
.integral_list{
	width: 100%;
}
.integral_btn{
	width: 1.867rem;
	height: .693rem;
	background: #29a7fb;
	line-height: .693rem;
	border-radius: 20px;
}
.integral_btn_active{
	background: #ddd;
}

.jinbi,
.jinbi>img{
	width: 17px;
	height: 14px;
}
