/*
* @Author: frankseek
* @Date:   2017-08-20 19:02:08
* @Last Modified by:   frankseek
* @Last Modified time: 2017-08-20 20:43:09
*/
.course_num{
	background: #f8f8f8;
}
.lists .list_img>img{
	width: 1.387rem;
	height: 1.387rem;
}

.blue_font{
	color: #29a7fb;
}

.info>.info_img{
	width: 100%;
	height: 4.453rem;
}
.info>.info_img>img{
	width: 100%;
	height: 100%;
}
.info .info_user .user_name{
	width: .8rem;
	height: .8rem;
}
.info .info_user .user_name>img{
	width: .8rem;
	height: .8rem;
}

.course_detail{
	margin: 2rem .8em 0 .8em;
	background: #FFF;
}
.mint-button--default{
	background: #29a7fb;
	width: 100%;
}