/*
* @Author: frankseek
* @Date:   2017-08-21 11:05:14
* @Last Modified by:   frankseek
* @Last Modified time: 2017-08-23 09:13:01
*/
.mint-button--default{
	background: #FFF;
}

body{
	background: #f8f8f8;
}
.type_icon>img{
	width: .8rem;
	height: .8rem;
}
.type_icon{
	height: 100%;
	width: .8rem;
	line-height: 100%;
}
.type_detail{
	height: 100%;
}
.parents_school li{
	height: 1.467rem;
}

.convert_img{
	height: 4.453rem;
}
.convert_img>img{
	height: 4.453rem;
	width: 10rem;
}
.online_book{
	color: #feccc4;
	border-color: #feccc4;
	border-radius: 5px;
}
.read_book{
	color: #4fb6fb;
	border-color: #4fb6fb;
	border-radius: 5px;
}
.book_brief_content{
	line-height: 24px;
}
.start_read .mint-button{
	width: 100%;
	background: #29a7fb;
}
.change_img>img{
	width: 1.653rem;
	height: 1.387rem;
}
.not_enough_btn{
	background: #9fd6fb;
}
.change_img{
	width: 100%;
	height: 3.707rem;
	background: url('../images/5.png') no-repeat 0 0 ;
	background-size:100% 3.707rem;
}
.mint-radio-core::after{
	width: 0;
	height: 0;
}
.start_read{
	width: 80%;
	margin: 0 auto;
}
.safe_education .mint-navbar a{
	color: #999;
}
.safe_education .safe_img,
.safe_education .safe_img>img{
	width: 1.387rem;
	height: 1.387rem;
}
.safe_education .nav button{
	margin-right: 10px;
	color: #c2c5cc;
}
.safe_education .nav button.isActive{
	border-color: #29a7fb;
	color:#29a7fb ;
}
.safe_education .jinbi>img{
	width: 17px;
	height: 14px;
}