/*
* @Author: frankseek
* @Date:   2017-08-21 15:47:44
* @Last Modified by:   frankseek
* @Last Modified time: 2017-08-23 06:54:20
*/
.public_bg{
	background: #29a7fb;
}
body{
	background: #f8f8f8;
}
.questionnaire_me_img{
	width: 9.44rem;
	height: 4rem;
}
.questionnaire_me_img img{
	width: 9.44rem;
	height: 4rem;
}
.questionnaire_02_title{
	color: #29a7fb;
	padding: 20px 0;
}
.questionnaire_02 button{
	width: 100%;
}
.questionnaire_02_content{
	line-height: 28px;
}
.questionnaire_03_header .mint-header{
	background: #fff;
}
.timu{
	height: 1.2rem;
}
.mint-radiolist-label{
	padding: 0;
}
.mint-radio-input:checked + .mint-radio-core{
	background: #0099ff;
	color: #fff;
}
.questionnaire_05_lists li{
	height: 1.333rem;
	line-height: 1.333rem;
}
.questionnaire_06>.award{
	position: relative;
	background: #fe9f60;
}
.questionnaire_06>.award>.icon{
	position: absolute;
	top: 30%;
	right: 0.8em;
}
.questionnaire_06 .questionnaire_06_img{
	width: 100%;
	height: 3.467rem;
}
.questionnaire_06 .questionnaire_06_img{
	background: url('../images/bgwe.png') no-repeat 0 0;
	background-size: 100% 3.467rem;
}
.h6_title{
	color: #29a7fb;
}
.h6_content{
	line-height: 28px;
	color: #adadad;
}
.questionnaire_06_lists .q6_img,
.questionnaire_06_lists .q6_img img{
	width: 2.667rem;
	height: 1.6rem;
}
.q6_btn button{
	width: 4.52rem;
	height: 1.467rem;
	border-color: #29a7fb;
	color: #29a7fb;
	background: #FFF;
}
.q6_btn button.active{
	background: #29a7fb;
	color: #FFF;
}