/*
* @Author: frankseek
* @Date:   2017-08-18 11:51:42
* @Last Modified by:   frankseek
* @Last Modified time: 2017-08-20 18:54:05
*/
.bg_c{
	background: #f8f8f8;
}
.more{
	color: #3caffb;
}
.user>.user_img{
	width: 1.2rem;
	height: 1.2rem;
}
.user>.user_img>img{
	width: 100%;
	height: 100%;
}
.user{
	background: #7399f3;
	padding-top: .5rem;
	padding-bottom: .5rem;
}
.mint-navbar .mint-tab-item.is-selected{
	color: #29a7fb;
}
.mint-navbar a{
	color: #666666;
}

.geli{
	height: 10px;
	background: #f8f8f8;
	margin-top: 4px;
}
.active_title{
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.mint-popup {
	width: 100%;
	height: 8.88rem;
	background: #FFF;
}
.bottom_box{
	width: 100%;
	height: 2rem;
	background: red;
}
.popup_title{

}
.popup_title>.popup_01{
	width: 2.133rem;
	height: 2.133rem;
	position: relative;
	margin-right: 10px;
}
.popup_title>.popup_01>img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: .8em;
}
.popupBox{
	position: relative;
}
.popup_title_detail{
	line-height: 20px;
	padding-right: 1rem;
}
.close_popup{
	position: absolute;
	right: .8em;
	top: .8em;
}
.yiwancheng>.book_detail{
	background: #FFF;
	margin-top: .9rem;
	border: 1px solid #29a7fb;
	width: 48%;
	color: #29a7fb;
}
.active_btn{
background: #29a7fb !important;
color: #FFF !important;
}
.lists .list_img>img,
.lists .read_later_img>img{
	width: 100%;
	height: 100%;
}
.lists .list_img{
	width: 1.387rem;
	height: 1.387rem;
}
.lists .read_later_img{
	width: 1.6rem;
	height: 2.24rem;
}
.no_task{
	position: relative;
	background: #f8f8f8;
}
.reader_response li+li{
	margin-top: 10px;
}
.no_task>.back_top{
	position: absolute;
	top: -.25rem;
	right: .8em;
	background: #9d9d9e;
	line-height: .5rem;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
}
.special{
	color: #ffb10b;
	border-color: : #ffb10b;
	background: #fffce8;
	border-radius: 5px;
	padding: .4em 2em;
}
.reader_response_title{
	margin-top: .5rem;
}
.reader_response_info{
	padding: .5rem .9rem;
}
.reader_response_content{
	
	font-size: 16px;
	line-height: 28px;
	color: #494949;
}
.content_1{
	padding: 0 .9rem;
}
.reader_response_info>.user_img{
	width: 1.2rem;
	height: 1.2rem;
}
.reader_response_info>.user_img>img{
	width: 100%;
	height: 100%;
}
.content_2{
	margin: 20px 0 10px 0;
}