/*
* @Author: frankseek
* @Date:   2017-08-18 10:08:27
* @Last Modified by:   frankseek
* @Last Modified time: 2017-08-18 11:49:07
*/
.mint-searchbar{
	background: #fff !important;
	height: 100%;
}
.mint-searchbar-inner .mintui-search{
	color: #b8b8b8;
	font-size: .4rem;
}
.mint-searchbar-inner,
.mint-searchbar-inner input{
	background: #eeeff3;
}
.search{
	height: 56px;
}
.mint-search{
	height: 100%;
	width: 100%;
}

.lists .list_img>img{
	width: 1.387rem;
	height: 1.387rem;
}
.no_search{
	width: 100%;
	height: 100%;
	margin-top: 4rem;
}
.no_search img{
	width: 1.653rem;
	height: 1.653rem;
}