/*
* @Author: frankseek
* @Date:   2017-08-15 16:04:14
* @Last Modified by:   frankseek
* @Last Modified time: 2017-08-18 09:16:37
*/
.mint-searchbar{
	background: #fff !important;
	height: 100%;
}
.mint-searchbar-inner .mintui-search{
	color: #b8b8b8;
	font-size: .4rem;
}
.mint-searchbar-inner,
.mint-searchbar-inner input{
	background: #eeeff3;
}
.search{
	height: 56px;
}
.mint-search{
	height: 100%;
	width: 100%;
}
.key_words li{
	border-color: #c2c5cc;
	border-radius: 5px;
	padding: 5px 10px;
}
.key_words .words{
	height: 32px;
}
.key_words_title{
	margin-top: .6rem;
	margin-bottom: .4rem;
}
.search_history{
	margin-top: .5rem;
}
