<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
  </head>
  <body>
    <div id="app">
    <div class="bg_zhezhao">
        <div class="dilog tx-c">
            <div class="dilog_title">
                <div class=" bc-text-white" style="font-size:20px;padding-top:16px;">请选择你的家长类型</div>
                <div class="umar-t04" style="font-size:16px;color:#b8def8;">
                    个性化定制内容推荐
                </div>
            </div>
            <div class="dilog_content ub ub-ver">
                <ul class="ub ">
                    <li v-for="item in 3" class="ub ub-f1 ub-ver ub-ac ub-pc">
                        <ul>
                             <li v-for="item in 2" @click="handleTypeClick"  class="ub type_family ub-f1 ub-ver ub-ac ub-pc" style="margin:20px 0;">
                                <div class="circle umar-b04" :class="{active_border:isActive}" >
                                    <img src="./images/high_school.png" alt="">
                                </div>
                                <div class="" style="font-size:16px;">孕期家长</div>
                                <div class="zhezhao_circle"></div>
                                <span  class="dblock icon icon-sign-in"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <mt-button @click="joinIndex" type="primary" size="large" style="margin-bottom: 20px;">进入首页</mt-button>
            </div>
            <span class="close_line"></span>
            <div class="close_dilog" @click="closeDilog">
                <span class="icon icon-add dblock"></span>
            </div>
        </div>
    </div>
    <div class="bg_zhezhao_today_signin" style="display:none;">
        <div class="today_signin">
            <div class="today_signin_title">
                <img src="./images/bg.png" alt="">
            </div>
            <div class="today_signin_content sc-bg">
                <div style="padding-bottom:30px;">
                    <div class="uinn-b06" style="padding-top:20px;">
                        <span class="ulev15">今日签到成功！</span>
                    </div>
                    <div class="">
                          其中连续签到<span>3</span>天奖励<span>3星币</span>
                    </div>
                </div>
                <div>
                    <ul class="ub">
                        <li class="ub ub-ver ub-pc ub-ac ub-f1" v-for="(idenx,item) in 6">
                            <span class="icon-sign-in icon dblock umar-b06"> </span>
                            <span>{{ idenx }}</span>天
                        </li>
                    </ul>
                </div>
                <div class="uinn-l08 uinn-r08">
                    <mt-button class="ufl" type="primary" size="large">今日任务完成1/4</mt-button>
                    <mt-button class="ufr active" type="primary" size="large">完成</mt-button>
                </div>
            </div>
            <span class="close_line"></span>
            <div class="close_today_signin" @click="closeTodaySignin">
                <span class="icon icon-add dblock"></span>
            </div>
        </div>
    </div>
    <div class="swipe_top">
      <mt-swipe class="lubotu" :auto="4000" @change="handleChange">
       
        <mt-swipe-item><a href="#"><img src="./images/99.png" height="348" width="750" alt=""></a></mt-swipe-item>
        <mt-swipe-item><a href="#"><img src="./images/98.png" height="347" width="750" alt=""></a></mt-swipe-item>
        <mt-swipe-item><a href="#"><img src="./images/97.png" height="347" width="750" alt=""></a></mt-swipe-item>
      </mt-swipe>
      <div class="sign_in tx-c">
        <span class="icon-sign-in icon"></span>
        <span class="uinn-l08 sign_in_01 ulev1">签到</span>
      </div> 
      <div class="search_user tx-r">
          <span class="icon-search ulev15 icon bc-text-white umar-r12"></span>
          <span id="alert_sign" @click="handleAlertSign" class="icon-replace-role ulev15 bc-text-white icon"></span>
      </div>
      <div class="zhezhao">
          
      </div>
    </div>

    <div id="user">
       
      <mt-navbar v-model="selected" class="ubb uinn-l08 uinn-r08 sc-border-tab">
        <mt-tab-item id="1">
          <div @click="handleTabChanges" :class="{active_border:flag}" class="circle user_id" >
              <img src="./images/user_02.png" alt="">
          </div>
        </mt-tab-item>
        <mt-tab-item id="2">
          <div @click="handleTabChanges" :class="{active_border:flag}" class="circle user_id">
              <img src="./images/user_02.png" alt="">
          </div>
        </mt-tab-item>
          <div class="circle umar-t08 ulev2 border_circle">
             <span class="icon-add icon "></span>
          </div>
        </mt-tab-item>
      </mt-navbar>
      <mt-tab-container v-model="selected" class="uinn-l08 uinn-r08">
        <mt-tab-container-item id="1" class="uinn-t08 uinn-b08 dblock">
          <div class="student_name tx-l uinn-b04 ulev12" style="color: ##0a0b0d;">徐一帆</div>
          <div class="school_location tx-l ulev08" style="color: #707070;">成都市草堂小学-2017级1班</div>
          <div class="read_style" >
            <div class="school_read ufl">
              <a href="#">
                <img src="./images/k1.png" alt="">
              </a>
            </div>
            <div class="online_select ufl">
              <a href="#">
                <img src="./images/k2.png" alt="">
              </a>
            </div>
          </div>
         
        </mt-tab-container-item>
        <mt-tab-container-item id="2">
           wejqjfjw jwojwweo
        </mt-tab-container-item>
       
      </mt-tab-container>
    </div>
    <div class="type_active ubb sc-border-tab uinn-a08 ub">
        <div class="ub ub-ac ub-pc ub-ver ub-f1 ub-pc ub-ac">
          <a href="#" class="dblock ub ub-ver ub-ac ub-pc">
                <div class="ub ub-ac ub-pc  ub-f1 umar-b06 tx-c circle circle_01">
                    <span class="icon icon-school ulev2"></span>
                </div>
                <span style="color: #999;">家长学堂</span>
            </a>
        </div>
        <div class="ub ub-ac ub-pc ub-ver ub-f1 ub-pc ub-ac">
          <a href="#" class="dblock ub ub-ver ub-ac ub-pc">
                <div class="ub ub-ac ub-pc  ub-f1 umar-b06 tx-c circle circle_02">
                    <span class="icon icon-no-understand ulev2"></span>
                </div>
                <span style="color: #999;">专家解惑</span>
            </a>
        </div>
        <div class="ub ub-ac ub-pc ub-ver ub-f1 ub-pc ub-ac">
          <a href="#" class="dblock ub ub-ver ub-ac ub-pc">
                <div class="ub ub-ac ub-pc  ub-f1 umar-b06 tx-c circle circle_03">
                    <span class="icon icon-with-read ulev2"></span>
                </div>
                <span style="color: #999;">亲子阅读</span>
            </a>
        </div>
        <div class="ub ub-ac ub-pc ub-ver ub-f1 ub-pc ub-ac">
          <a href="#" class="dblock ub ub-ver ub-ac ub-pc">
                <div class="ub ub-ac ub-pc  ub-f1 umar-b06 tx-c circle circle_04">
                    <span class="icon icon-active ulev2"></span>
                </div>
                <span style="color: #999;">精彩活动</span>
            </a>
        </div>
        <div class="ub ub-ac ub-pc ub-ver ub-f1 ub-pc ub-ac">
          <a href="#" class="dblock ub ub-ver ub-ac ub-pc">
                <div class="ub ub-ac ub-pc  ub-f1 umar-b06 tx-c circle circle_04">
                    <span class="icon icon-active ulev2"></span>
                </div>
                <span style="color: #999;">精彩活动</span>
            </a>
        </div> 
    </div>
    <div class="parent_read_list ub ub-ver umar-t12">
        <div class="parent_read_title tx-l uinn-l08 ulev15" style="color: #666;">家长阅读</div>
        <mt-loadmore :top-method="loadTop" @top-status-change="handleTopChange">
            <ul>
              <li v-for="item in 3" class="ub ub-f1 ubb">
                    <a href="#" class="dblock ub">
                        <div class="ub-f1 ub ub-ver ub-con uinn-r04">
                            <div class="circle_title tx-l">
                                丰 发夫放大 打法是否阿双方法定沙发上我认为问题 五个问问额提问发苟富贵哥哥哥五个 发生的发多少发顺丰达啊啊 
                            </div>
                            <div class="tx-l ulev08 uinn-t04" style="color: #999;">
                                问卷
                            </div>
                        </div>
                        <div class="ub-f2 ub-con ub list_img">
                            <img src="./images/house.png" alt="">
                        </div>
                    </a>
                </li>
            </ul>
            <div slot="top" class="mint-loadmore-top">
              <span v-show="topStatus !== 'loading'" :class="{ 'rotate': topStatus === 'drop' }">↓</span>
              <span v-show="topStatus === 'loading'">Loading...</span>
            </div>
          </mt-loadmore>
    </div>
  </div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          msg: 'family school project',
          selected:'',
          topStatus: '',
          flag:false,
          isActive:false
        },
        mounted(){
   
        },
        methods:{
            handleTopChange(status) {
                this.topStatus = status;
              },
            loadTop() {
              // 加载更多数据
              this.$refs.loadmore.onTopLoaded();
            },
            loadBottom() {
            // 加载更多数据
              this.allLoaded = true;// 若数据已全部获取完毕
              this.$refs.loadmore.onBottomLoaded();
            },
            handleChange:function(index){
             
            },
            joinIndex(){
              
            },
            handleTypeClick(event){
               this.isActive =true;
            },
            handleAlertSign(){
                $(".bg_zhezhao_today_signin").show();
            },
            handleTabChanges(event){
                this.flag= true;

            },
            closeDilog(){
                $(".bg_zhezhao").hide();
            },
            closeTodaySignin(){
                $(".bg_zhezhao_today_signin").hide();
            }


          }
      })
    </script>
  </body>
</html>




