<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/integral_task.css">
  </head>
  <body>
    <div id="app">
    	<div class="my_integral ub ub-pc ub-ac ub-ver">
            <div class="integral_num ulev15 ub ub-pc ub-ac">
                1242
            </div>
            <div class="bc-text-white umar-t04">我的积分</div>
        </div>
        <div class="today_task uinn-t12 uinn-b12 uinn-l08 uinn-r08 ubb sc-border-tab">
            <div class="gray_font"><span class="black_font umar-r04">今日任务</span>(<span class="task_num">1</span>/4)</div>
            <div class="umar-t08 clearfix">
                <mt-progress :value="20" class="ufl"></mt-progress>
                <span class="ufl umar-l12 gray_font">今日已获得<span>15</span>积分</span>
            </div>
        </div>
        <div class="integral_list ub ub-ver ub-f1 clearfix">
            <ul>
                <li v-for="item in 4" class="ub ub-f1 umar-l08 umar-r08 uinn-t12 uinn-b12 ubb sc-border-tab">
                    <div class="ufl ub ub-ac ub-f1">
                        <span class="black_font umar-r04">每日签到</span><span class="jinbi umar-r04"><img src="./images/1.png" alt=""></span><span class="integral_shumu">+15</span>
                    </div>
                    <div class="ufr integral_btn tx-c bc-text-white">去学习</div>
                </li>
            </ul>
        </div>
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          name: '',
          accout:'',
          school:'',
          
        },
        mounted(){
   
        },
        methods:{
           

          }
      })
    </script>
  </body>
</html>




