<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/integral_task.css">
  </head>
  <body>
    <div id="app">
        <div class="integral_list ub ub-ver ub-f1 clearfix">
            <ul>
                <li v-for="item in 6" class="ub ub-f1 umar-l08 umar-r08 uinn-t12 uinn-b12 ubb sc-border-tab">
                    <div class="ufl ub ub-pc ub-f1 ub-ver">
                       <div class="black_font">每日签到</div>
                       <div class="gray_font umar-t02">2017-8-8</div>
                    </div>
                    <div class="ufr tx-c bc-text-white ub ub-pc ub-ac">
                        <span class="jinbi umar-r04"><img src="./images/1.png" alt=""></span><span class="integral_shumu ulev12 umar-l04">+15</span>
                    </div>
                </li>
            </ul>
        </div>
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          name: '',
          accout:'',
          school:'',
          
        },
        mounted(){
   
        },
        methods:{
           

          }
      })
    </script>
  </body>
</html>




