<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/online_select_course.css">
  </head>
  <body>
    <div id="app">
        <div class="course_num uinn-a08 gray_font">
            共<span>12</span>门课程
        </div>
        <div class="lists ub uinn-l08 uinn-r08 clearfix">
            <ul class="ub ub-f1 ub-ver">
                <li v-for="item in 3" class="ub ub-f1 ubb sc-border-tab uinn-t08 uinn-b08">
                    <div class="list_img umar-r06">
                        <img src="./images/313.png" alt="">
                    </div>
                    <div class=" ub-f1 ub-con ub-ver">
                        <div class=" umar-b04 black_font">小王子</div>
                        <div class="">
                            <div class="gray_font ufl" style="display: inline-block;">小微网站</div>
                            <div class="blue_font ufr" style="display: inline-block;">学习进度：<span class="umar-r12">38%</span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          name: '',
          accout:'',
          popupVisible:false,
          json:{},
          selected:'',
          allLoaded:''
        },
        mounted(){
   
        },
        methods:{
           loadTop() {
        // 加载更多数据
          this.$refs.loadmore.onTopLoaded();
        },
        loadBottom() {
          // 加载更多数据
          this.allLoaded = true;// 若数据已全部获取完毕
          this.$refs.loadmore.onBottomLoaded();
        },
        handlePoup(){
            this.popupVisible= true
            console.log(this.popupVisible)
        }
        
          }
      })
    </script>
  </body>
</html>




