<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/parents_school.css">
  </head>
  <body>
    <div id="app">
    	<div class="parents_school ub ub-ver ub-f1 sc-bg clearfix">
         <ul>
               <li v-for="item in 3" class="ub ub-f1 ub-ac uinn-l08">
                   <div class="type_icon umar-r08 ub ub-pc ub-ac"><img src="./images/circle1.png" alt=""></div>
                   <div class="ub ub-f1 ub-con type_detail ubb ub-ac sc-border-tab uinn-r08">
                       <div class="black_font ub ub-f1 ufl">安全教育</div>
                       <div class="ufr gray_font icon icon-add"></div>
                   </div>
               </li>
           </ul>  
        </div>
    	
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          name: '',
          accout:'',
          school:'',
          
        },
        mounted(){
   
        },
        methods:{
           

          }
      })
    </script>
  </body>
</html>




