<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/questionnaire_01.css">
  </head>
  <body>
    <div id="app" class="ub ub-ver questionnaire_06">
        <div class="award ub ub-f1 uinn-t08 uinn-b08 ub-pc ub-ac bc-text-white">
            恭喜你 本次作答获得<span>5</span>积分
            <span class="icon icon-add dblock"></span>
        </div>
        <div class="questionnaire_06_img ub ub-f1 ub-pc ub-ac bc-text-white ub-ver">
            <div class="ulev2">温室培养型</div>
            <div class="umar-t12">
                同<span>74%</span>的家长<span class="icon icon-add umar-l08"></span>
            </div>
        </div>
        <div class="questionnaire_06_content ub ub-f1 uinn-l08 uinn-r08 ub-ver sc-bg">
            <div class="ub-f1 ub h6_title ulev12 umar-t04 umar-b04">你属于：</div>
            <div class="h6_content ulev12 ub ub-f1">
                大发发反倒是范德萨发发大厦法定发达身份打法是否大师傅打法是否答复东方大厦发发大发案发时发大发发顺丰大厦发顺丰答复打发大发发反倒是范德萨发发大厦法定发达身份打法是否大师傅打法是否答复东方大厦发发大发案发时发大发发顺丰大厦发顺丰答复打发大发发反倒是范德萨发发大厦法定发达身份打法是否大师傅打法是否答复东方大厦发发大发案发时发大发发顺丰大厦发顺丰答复打发
            </div>
            <div class="ub-f1 ub h6_title ulev12 umar-t04 umar-b04">你属于：</div>
            <div class="h6_content ulev12 ub ub-f1">
                大发发反倒是范德萨发发大厦法定发达身份打法是否大师傅打法是否答复东方大厦发发大发案发时发大发发顺丰大厦发顺丰答复打发大发发反倒是范德萨发发大厦法定发达身份打法是否大师傅打法是否答复东方大厦发发大发案发时发大发发顺丰大厦发顺丰答复打发大发发反倒是范德萨发发大厦法定发达身份打法是否大师傅打法是否答复东方大厦发发大发案发时发大发发顺丰大厦发顺丰答复打发
            </div>
        </div>
        <div class=" ub ub-f1 ub-ver umar-t08 uinn-l08 uinn-r08 sc-bg">
            <div class="ub ub-f1 ulev12" style="margin-top: 20px; color:#adadad;">
                根据以上结果推荐
            </div>
            <div class="questionnaire_06_lists ub ">
                <ul>
                    <li v-for="item in 4" class="ub ub-f1 uinn-t12 uinn-b12 ubb sc-border-tab">
                        <div class="ub-f1 ub-con ub ub-ver umar-r08">
                            <div class="ub ub-f1 black_font ulev12">
                                大发发的放大发大厦法定发达身份发达发大发打发打发打发打发点发大发大

                            </div>
                            <div class="ub-f1 ub gray_font umar-t08">
                                庐山位移图。阅读
                            </div>
                        </div>
                        <div class="ub q6_img">
                            <img src="./images/104.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="q6_btn ub ub-f1 ub-pc ub-ac">
                <mt-button type="default" class="uba ub ufl umar-r08">我的答案</mt-button>
                <mt-button type="default" class="uba active ub ufr">重新作答</mt-button>
            </div>
        </div>
        
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          value: '',
          accout:'',
          school:'',
          options:[
              {
                label: '被禁用',
                value: '值F',
                disabled: false
              },
              {
                label: '选项A',
                value: '值A'
              },
              {
                label: '选项B',
                value: '值B'
              },
              {
                label: '选项c',
                value: '值c'
              }
            ]
        },
        mounted(){
            
        },
        methods:{
           

          }
      })
    </script>
  </body>
</html>




