<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/questionnaire_01.css">
  </head>
  <body>
    <div id="app">
        <div class="questionnaire_05_title uinn-a08 ub  ub-ac">
            共<span class="">1221</span>位家长参与作答
        </div>
        <div class="questionnaire_05_lists ub ub-ver sc-bg uinn-l08 uinn-r08">
            <ul>
                <li v-for="item in 5" class="ub ub-f1 ub-pc ub-ac  ubb sc-border-tab">
                    <div class="ufl ub ub-f1 ulev12">自家萝卜</div>
                    <div class="ufr" style="color:#29a7fb;">74%</div>
                </li>
            </ul>
        </div>
       
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          value: '',
          accout:'',
          school:'',
          options:[
              {
                label: '被禁用',
                value: '值F',
                disabled: false
              },
              {
                label: '选项A',
                value: '值A'
              },
              {
                label: '选项B',
                value: '值B'
              },
              {
                label: '选项c',
                value: '值c'
              }
            ]
        },
        mounted(){
            
        },
        methods:{
           

          }
      })
    </script>
  </body>
</html>




