<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/questionnaire_01.css">
  </head>
  <body>
    <div id="app">
        <div v-for="item in 4" class="questionnaire_me umar-t12 ub ub-f1 uinn-l08 uinn-r08 ub-ver ub-pc ub-ac">
            <div class="ub-f1 ub questionnaire_me_img">
                <a class="dblock" href="#"><img src="./images/1221.png" alt=""></a>
            </div>
            <div class="ub-f1 ub uinn-t08 uinn-b08 clearfix sc-bg" style="width:100%;">
                <div class="ufl ub ub-f1 black_font uinn-l12">你属于哪一种父母</div>
                <div class="dblock ufr gray_font uinn-r12">
                    <span class="icon icon-add umar-r08"></span>
                    <span class="gray_font">12</span>
                </div>
            </div>
        </div>
	   
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          active: '',
          accout:'',
          school:'',
          
        },
        mounted(){
   
        },
        methods:{
           

          }
      })
    </script>
  </body>
</html>




