<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/parents_school.css">
  </head>
  <body>
    <div id="app">
    	<div class="safe_education uinn-l08 uinn-r08">
            <div class="nav ub  ub-ac uinn-t12 uinn-b12 sc-bg">
                <mt-button class="isActive" size="small" @click="test('tab-container1')">全部类别</mt-button>
                <!--<mt-button size="small" @click="active = 'tab-container1'">tab 1</mt-button>-->
                <mt-button size="small" @click="test('tab-container2')">趣味生活</mt-button>
                <mt-button size="small" @click="test('tab-container3')">亲子共鉴</mt-button>

            </div>
            <mt-tab-container class="page-tabbar-tab-container sc-bg umar-t08" v-model="active" :swipeable='true' value="tab-container1">
                <mt-tab-container-item id="tab-container1" class="ub ub-f1 ub-ver">
                    <ul>
                        <li v-for="item in 5" class="ub ub-f1 uinn-t12 uinn-b12 ubb sc-border-tab">
                            <div class="ub safe_img umar-r08">
                                <img src="./images/3.png" alt="">
                            </div>
                            <div class="ub  ub-f1">
                                <div class="ub-f1">
                                    <div class="ub-f1 ub-ver ub black_font">小王子</div>
                                    <div class="ub ub-f1 gray_font umar-t08">超星校园阅读</div>
                                </div>
                                <div class="ub jinbi ub-pc ub-ac">
                                    <img src="./images/1.png" alt="">
                                    <span class="umar-l04 ulev12" style="color: #fd6951;">30</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </mt-tab-container-item>
                <mt-tab-container-item id="tab-container2">
                    2
                </mt-tab-container-item>
                <mt-tab-container-item id="tab-container3" >
                    3
                </mt-tab-container-item>
            </mt-tab-container>
        </div>
    </div>
    	

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          active: '',
          name:'page-tab-container',
          school:'',
          
        },
        mounted(){
   
        },
        methods:{
           test(id){
                this.active = id
                console.log(this.active)
            }

          }
      })
    </script>
  </body>
</html>




