<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/school_read.css">
  </head>
  <body>
    <div id="app">
        <div class="user circle ub ub-f1 ubb sc-border-tab uinn-a08 umar-tb12">
            <div class="user_img umar-r12">
                <img src="./images/user_02.png" alt="">
            </div>
            <div class="ub-f1 ub-con ub-ver">
                <div class="user_title umar-b04 bc-text-head ulev12">小王子</div>
                <div class="user_content bc-text-head">超星校园阅读</div>
            </div>
        </div>
        <mt-navbar v-model="selected">
          <mt-tab-item id="1">动态</mt-tab-item>
          <mt-tab-item id="2">任务</mt-tab-item>
          <mt-tab-item id="3">读后感</mt-tab-item>
          <mt-tab-item id="4">报告</mt-tab-item>
        </mt-navbar>
        
        <!-- tab-container -->
        <mt-tab-container v-model="selected">
          <mt-tab-container-item id="1" class="">
            <div class="geli"></div>
            <mt-loadmore class="uinn-l08 uinn-r08" :top-method="loadTop" :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" ref="loadmore">
              <ul class="ub ub-ver">
                <li @click="handlePoup" v-for="item in 2" class="ub ub-f1 ub-ac ub-pc ubb sc-border-tab uinn-t08 uinn-b08">
                    <div class="umar-r12">
                        <span class="icon icon-add"></span>
                    </div>
                   <div class="ub-f1 ub-con ub-ver">
                        <div class="active_title umar-b04  ulev12">小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子小王子</div>
                        <div class="active_date gray_font">2017-8-10</div>
                    </div>
                </li>
              </ul>
            </mt-loadmore>

          </mt-tab-container-item>
          <mt-tab-container-item id="2">
            <div class="task_1">
                <div class="geli"></div>
                <div class="no_complete_task uinn-l08 uinn-r08">

                    <div class="uinn-b08 uinn-t08 sc-border-tab ubb">
                        <span class="icon-add icon uinn-r08 gray_font"></span>
                        <span class="ulev12">未完成的必读任务</span>
                    </div>
                    <div class="lists ub">
                        <ul class="ub ub-f1 ub-ver">
                            <li v-for="item in 3" class="ub ub-f1 ubb sc-border-tab uinn-t08 uinn-b08">
                                <div class="list_img umar-r06">
                                    <img src="./images/313.png" alt="">
                                </div>
                                <div class="list_content ub-f1 ub-con ub-ver">
                                    <div class="list_content_title umar-b04 black_font">小王子</div>
                                    <div class="list_content_content gray_font">截止时间:<span class="">2017-7-31</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="no_complete_task_more uinn-t08 uinn-b08 ub ub-pc ub-ac more">
                         展开更多<span class="icon icon-add umar-l04 "></span>
                    </div>
                </div>
            </div>
            <div class="task_2">
                <div class="geli"></div>
                <div class="no_complete_must_task uinn-l08 uinn-r08">

                    <div class="uinn-b08 uinn-t08 sc-border-tab ubb">
                        <span class="icon-add icon uinn-r08 gray_font"></span>
                        <span class="ulev12">未完成的自选任务</span>
                    </div>
                    <div class="lists ub">
                        <ul class="ub ub-f1 ub-ver">
                            <li v-for="item in 3" class="ub ub-f1 ubb sc-border-tab uinn-t08 uinn-b08">
                                <div class="list_img umar-r06">
                                    <img src="./images/313.png" alt="">
                                </div>
                                <div class="list_content ub-f1 ub-con ub-ver">
                                    <div class="list_content_title umar-b04 black_font">小王子</div>
                                    <div class="list_content_content gray_font">截止时间:<span class="">2017-7-31</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="no_complete_must_task_more uinn-t08 uinn-b08 ub ub-pc ub-ac more">
                         展开更多<span class="icon icon-add umar-l04 "></span>
                    </div>
                </div> 
            </div>
            <div class="task_3">
                <div class="geli"></div>
                <div class="complete_task uinn-l08 uinn-r08">

                    <div class="uinn-b08 uinn-t08 sc-border-tab ubb">
                        <span class="icon-add icon uinn-r08 gray_font"></span>
                        <span class="ulev12">已完成任务</span>
                    </div>
                    <div class="lists ub">
                        <ul class="ub ub-f1 ub-ver">
                            <li v-for="item in 3" class="ub ub-f1 ubb sc-border-tab uinn-t08 uinn-b08">
                                <div class="list_img umar-r06">
                                    <img src="./images/313.png" alt="">
                                </div>
                                <div class="list_content ub-f1 ub-con ub-ver">
                                    <div class="list_content_title umar-b04 black_font">小王子</div>
                                    <div class="list_content_content gray_font">截止时间:<span class="">2017-7-31</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="complete_task_more uinn-t08 uinn-b08 ub ub-pc ub-ac more">
                         展开更多<span class="icon icon-add umar-l04 "></span>
                    </div>
                </div> 
            </div>
            <div class="no_task uinn-t12 uinn-b12 ub ub-pc ub-ac more">
                 没有更多了
                 <span class="back_top icon icon-add dblock tx-c"></span>
            </div>
          </mt-tab-container-item>
          <mt-tab-container-item id="3">
            <div class="uinn-a08 gray_font bg_c">
                 共2篇读后感，获得50个赞
            </div>
            <div class="lists ub bg_c reader_response">
                <ul class="ub ub-f1 ub-ver">
                    <li v-for="item in 3" class="ub uinn-l08 uinn-r08 sc-bg ub-f1 uinn-t08 uinn-b08">
                        <div class="read_later_img umar-r06">
                            <img src="./images/313.png" alt="">
                        </div>
                        <div class="list_content ub-f1 ub-con ub-ver">
                            <div class="list_content_title black_font">读《共产党万岁》有感</div>
                            <div class="list_content_content umar-t04 gray_font">阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发</div>
                            <div class="list_content_date gray_font umar-t12">
                                <div class="ufl">
                                    截止时间:<span class="">2017-7-31</span>
                                </div>
                                <div class="ufr">
                                    <span class="icon-add icon umar-r04"></span><span>10</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="uinn-t08 uinn-b08 special ubt ubb">阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发</div> -->
                    </li>
                </ul>
            </div>


             <div class="no_task uinn-t12 uinn-b12 ub ub-pc ub-ac">
                 没有更多了
                 <span class="back_top icon icon-add dblock tx-c"></span>
            </div>
          </mt-tab-container-item>
          <mt-tab-container-item id="4">
            <div class="reader_response_title black_font ulev2 ub ub-ac ub-pc">
                读《格兰特船长的女儿》有感
            </div>
            <div class="reader_response_info ub">
                <div class="user_img umar-r12">
                    <img src="./images/user_02.png" alt="">
                </div>
                <div class="ub-f1 ub-con ub-ver">
                    <div class="user_title umar-b04 ulev12"><span class="black_font umar-r12">徐一帆</span><span class="gray_font">成都市2011级33班</span></div>
                    <div class="user_content gray_font">发表于<span class="umar-l12">2017-8-10</span></div>
                </div>

            </div>
            <div class="reader_response_content ubb sc-border-tab">
                <div class="content_1">
                    阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发
                阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发阿斯蒂芬打发答复放大发到付阿道夫大发阿凡达发大发打发发大发发
                </div>
                <div class="uinn-t08 uinn-b08 special uba umar-l08 umar-r08 umar-b12">阿斯蒂芬打发答复放大发发</div>
            </div>
             
              <div class="ub ub-pc ub-ac ub-f1 uinn-t12 uinn-b12">
                  <span class="icon icon-add umar-r12"></span> <span>20</span>
              </div>
          </mt-tab-container-item>
        </mt-tab-container>
        <mt-popup v-model="popupVisible" position="bottom" class="uinn-l08 uinn-r08">
            <div class="popupBox uinn-l08 uinn-r08">
                <div class="popup_title sc-border-tab ub ubb">
                    <div class="popup_01">
                        <img src="./images/122.png" alt="">
                    </div>
                    <div class="popup_title_detail ub-con umar-t12 ub-f1">最美的音乐上 最美的音乐上 最美的音乐上 最美的音乐上 最美的音乐上 最美的音乐上 最美的音乐上 最美的音乐上</div>
                </div>
                <div class="popup_content">
                    <ul>
                        <li class="ub ub-f1 uinn-t04 uinn-b04 umar-t04">
                            <span class="gray_font">状态</span>
                            <span class="umar-l12">未完成</span>
                        </li>
                         <li class="ub ub-f1 uinn-t04 uinn-b04">
                            <span class="gray_font">截止时间</span>
                            <span class="umar-l12"> 2017-8-9</span>
                        </li>
                         <li class="ub ub-f1 uinn-t04 uinn-b04">
                            <span class="gray_font">属性</span>
                            <span class="umar-l12">必读任务</span>
                        </li>
                         <li class="ub ub-f1 uinn-t04 uinn-b04">
                            <span class="gray_font">难度</span>
                            <span class="umar-l12">未完成</span>
                        </li>
                    </ul>
                </div>
                <span class="icon icon-add close_popup"></span>
                <div class="btn_box">
                   <!-- <mt-button class="book_detail bc-text-head "  type="default">图书详情</mt-button> -->
                   <div class="yiwancheng">
                       <mt-button class="book_detail"  type="default">图书详情</mt-button>
                         <mt-button class="book_detail active_btn"  type="default">答题情况</mt-button>
                   </div>
                </div>
                
            </div>

        </mt-popup>
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          name: '',
          accout:'',
          popupVisible:false,
          json:{},
          selected:'',
          allLoaded:''
        },
        mounted(){
   
        },
        methods:{
           loadTop() {
        // 加载更多数据
          this.$refs.loadmore.onTopLoaded();
        },
        loadBottom() {
          // 加载更多数据
          this.allLoaded = true;// 若数据已全部获取完毕
          this.$refs.loadmore.onBottomLoaded();
        },
        handlePoup(){
            this.popupVisible= true
            console.log(this.popupVisible)
        }
        
          }
      })
    </script>
  </body>
</html>




