<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/search.css">
  </head>
  <body>
    <div id="app">
    	<div class="search ubb sc-border-tab">
    		<mt-search v-model="name"></mt-search>
    	</div>
    	<div class="key_words uinn-l08 uinn-r08">
    		<div class="gray_font key_words_title ulev08">热门关键词</div>
    		<div class="words">
    			<ul>
    				<li class="ufl uinn-a04 uba umar-r12"><a href="#" class="dblock ulev12 black_font">三生三世说</a></li>
    				<li class="ufl uinn-a04 uba umar-r12"><a href="#" class="dblock ulev12 black_font">小王子</a></li>
    				<li class="ufl uinn-a04 uba umar-r12"><a href="#" class="dblock ulev12 black_font">小马过河</a></li>
    				<li class="ufl uinn-a04 uba"><a href="#" class="dblock ulev12 black_font">遇见</a></li>
    			</ul>
    		</div>
    		<div class="words" style="margin-top: 22px;">
    			<ul>
    				<li class="ufl uinn-a04 uba umar-r12"><a href="#" class="dblock ulev12 black_font">三生三世说</a></li>
    				<li class="ufl uinn-a04 uba umar-r12"><a href="#" class="dblock ulev12 black_font">小王子</a></li>
    				<li class="ufl uinn-a04 uba umar-r12"><a href="#" class="dblock ulev12 black_font">小马过河</a></li>
    				<li class="ufl uinn-a04 uba"><a href="#" class="dblock ulev12 black_font">遇见</a></li>
    			</ul>
    		</div>
    	</div>
    	<div class="search_history">
    		<div class="search_history_title uinn-l08 uinn-r08 clearfix">
    			<div class="ufl gray_font">搜索历史</div>
				<div class="ufr gray_font">
					清楚全部历史
					<span class="icon icon-add uinn-l04"></span>
				</div>
    		</div>
    		<div class="search_lists ub ub-ver umar-t12 uinn-l08 uinn-r08">
    			<ul>
    				<li v-for="item in 4" class="ub ub-f1  umar-b12">
    					<span class="icon-add icon uinn-r04 gray_font"></span>
						<span class="ulev12">小马过河</span>
    				</li>
    			</ul>
    		</div>
    	</div>
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          name: '',
          accout:'',
          school:'',
          
        },
        mounted(){
   
        },
        methods:{
           

          }
      })
    </script>
  </body>
</html>




