<!DOCTYPE html>
<html lang="en">
  <head>
    <title>family_school</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="family_school">
    <meta name="keywords" content="family,school">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" type="text/css" href="./css/font.css">
    <link rel="stylesheet" type="text/css" href="./css/ui-base.css">
    <link rel="stylesheet" type="text/css" href="./css/search_keywords.css">
  </head>
  <body>
    <div id="app">
    	
         <div class="search ubb sc-border-tab">
            <mt-search v-model="name"></mt-search>
        </div>
        <div class="" v-if="json.length >=1">
            <div class="search_results uinn-l08 uinn-r08">
                <div class="num uinn-t08 uinn-b08">
                     共<span class="">5</span>条结果
                </div>
                <div class="lists ub">
                    <ul class="ub ub-f1 ub-ver">
                        <li v-for="item in 3" class="ub ub-f1 ubb sc-border-tab uinn-t04 uinn-b04">
                            <div class="list_img umar-r06">
                                <img src="./images/313.png" alt="">
                            </div>
                            <div class="list_content ub-f1 ub-con ub-ver">
                                <div class="list_content_title umar-b04 black_font">小王子</div>
                                <div class="list_content_content gray_font">超星校园阅读</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search_article uinn-l08 uinn-r08">
                <div class="num uinn-t08 uinn-b08 gray_font">
                     相关文章
                </div>
                <div class="lists_article ub">
                    <ul class="ub ub-f1 ub-ver">
                        <li v-for="item in 3" class="ub ub-f1 ubb sc-border-tab uinn-t08 uinn-b08">
                            大斯洛伐克老家的伺服电机爱迪生卡看你肯定
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
        <div class="no_search ub ub-ver ub-pc ub-ac" v-else>
            <div class="ub ub-f1">
                <img src="./images/111.png" alt="">
            </div>
            <div class="ub gray_font ub-f1 ulev12" style="margin-top: 20px;">无搜索结果</div>
        </div>
        
  	</div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-1.8.3/jquery.js"></script>
    <script src="./js/filexible.js"></script>
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          name: '',
          accout:'',
          school:'',
          json:{
            
          }
          
        },
        mounted(){
   
        },
        methods:{
           

          }
      })
    </script>
  </body>
</html>




