@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rynsjf');
  src:  url('fonts/icomoon.eot?rynsjf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rynsjf') format('truetype'),
    url('fonts/icomoon.woff?rynsjf') format('woff'),
    url('fonts/icomoon.svg?rynsjf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-with-read:before {
  content: "\e901";
}
.icon-back-top:before {
  content: "\e902";
}
.icon-active:before {
  content: "\e903";
}
.icon-integral:before {
  content: "\e904";
}
.icon-add:before {
  content: "\e905";
}
.icon-sign-in:before {
  content: "\e906";
}
.icon-replace-role:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-questionnaire:before {
  content: "\e909";
}
.icon-school:before {
  content: "\e90a";
}
.icon-no-understand:before {
  content: "\e90b";
}
.icon-wrong:before {
  content: "\10ffff";
}
